trunk/BpelComposer4SWS/scenarios/eGovScenario/TestClients/WSDLTestClientSemanticBridgeTest/Test.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:Test" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:Test" xmlns:intf="urn:Test" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://localhost:8080/PublicServices/Test/XTest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://localhost:8080/PublicServices/Test/XTest" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="address">
    <sequence>
     <element name="recipient" type="xsd:string"/>
     <element name="streetAddress" type="xsd:string"/>
     <element name="zipcodeAndPostalDistrict" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="letter">
    <sequence>
     <element name="title" type="xsd:string"/>
     <element name="content" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="performTestResponse">

      <wsdl:part name="performTestReturn" type="tns1:letter"/>

   </wsdl:message>

   <wsdl:message name="performTestRequest">

      <wsdl:part name="in0" type="tns1:address"/>

   </wsdl:message>

   <wsdl:portType name="Test">

      <wsdl:operation name="performTest" parameterOrder="in0">

         <wsdl:input message="impl:performTestRequest" name="performTestRequest"/>

         <wsdl:output message="impl:performTestResponse" name="performTestResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestSoapBinding" type="impl:Test">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="performTest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="performTestRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Test" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="performTestResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestService">

      <wsdl:port binding="impl:TestSoapBinding" name="Test">

         <wsdlsoap:address location="http://localhost:8080/PublicServices/services/Test"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
