trunk/BpelComposer4SWS/scenarios/eGovScenario/VitalRecordsOffice/VitalRecordsOffice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:VitalRecordsOffice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:VitalRecordsOffice" xmlns:intf="urn:VitalRecordsOffice" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xvr="http://localhost:8080/PublicServices/VitalRecordsOffice/XVitalRecords">
<wsdl:types>
		<xsd:schema targetNamespace="http://localhost:8080/PublicServices/VitalRecordsOffice/XVitalRecords">
			<xsd:import namespace="http://localhost:8080/PublicServices/VitalRecordsOffice/XVitalRecords" schemaLocation="http://localhost:8080/PublicServices/VitalRecordsOffice/XVitalRecords.xsd"/>
			<xsd:import namespace="http://localhost:8080/PublicServices/PublicServicePayment/XPublicServicePayment" schemaLocation="http://localhost:8080/PublicServices/PublicServicePayment/XPublicServicePayment.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getVitalRecordsDocumentInfoResponse">
		<wsdl:part name="getVitalRecordsDocumentInfoReturn" type="xvr:vitalRecordsDocumentInfo"/>
	</wsdl:message>
	<wsdl:message name="orderBirthCertificateRequest">
		<wsdl:part name="in0" type="xvr:birthCertificateOrder"/>
	</wsdl:message>
	<wsdl:message name="getVitalRecordsDocumentInfoRequest">
		<wsdl:part name="in0" type="xvr:vitalRecordsDocumentType"/>
	</wsdl:message>
	<wsdl:message name="orderBirthCertificateResponse">
		<wsdl:part name="orderBirthCertificateReturn" type="xvr:acknowledgement"/>
	</wsdl:message>
	<wsdl:portType name="VitalRecordsOffice">
		<wsdl:operation name="orderBirthCertificate" parameterOrder="in0">
			<wsdl:input message="impl:orderBirthCertificateRequest" name="orderBirthCertificateRequest"/>
			<wsdl:output message="impl:orderBirthCertificateResponse" name="orderBirthCertificateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getVitalRecordsDocumentInfo" parameterOrder="in0">
			<wsdl:input message="impl:getVitalRecordsDocumentInfoRequest" name="getVitalRecordsDocumentInfoRequest"/>
			<wsdl:output message="impl:getVitalRecordsDocumentInfoResponse" name="getVitalRecordsDocumentInfoResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VitalRecordsOfficeSoapBinding" type="impl:VitalRecordsOffice">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="orderBirthCertificate">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="orderBirthCertificateRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:VitalRecordsOffice" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="orderBirthCertificateResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:VitalRecordsOffice" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVitalRecordsDocumentInfo">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="getVitalRecordsDocumentInfoRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:VitalRecordsOffice" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="getVitalRecordsDocumentInfoResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:VitalRecordsOffice" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VitalRecordsOfficeService">
		<wsdl:port binding="impl:VitalRecordsOfficeSoapBinding" name="VitalRecordsOffice">
			<wsdlsoap:address location="http://localhost:8080/PublicServices/VitalRecordsOffice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
